<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmcc.v2x.dso.authcs.mapper.Auth_keylogMapper" >
  <resultMap id="BaseResultMap" type="com.cmcc.v2x.dso.authcs.model.Auth_keylog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="carid" property="carid" jdbcType="INTEGER" />
    <result column="timestamp" property="timestamp" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="authkey" property="authkey" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="mac" property="mac" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="logmessage" property="logmessage" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, carid, timestamp, status, authkey, version, mac, create_time, update_time, logmessage
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from auth_keylog
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from auth_keylog
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cmcc.v2x.dso.authcs.model.Auth_keylog" >
    insert into auth_keylog (id, carid, timestamp, 
      status, authkey, version, 
      mac, create_time, update_time, 
      logmessage)
    values (#{id,jdbcType=INTEGER}, #{carid,jdbcType=INTEGER}, #{timestamp,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=VARCHAR}, #{authkey,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}, 
      #{mac,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{logmessage,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cmcc.v2x.dso.authcs.model.Auth_keylog" >
    insert into auth_keylog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="carid != null" >
        carid,
      </if>
      <if test="timestamp != null" >
        timestamp,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="authkey != null" >
        authkey,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="mac != null" >
        mac,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="logmessage != null" >
        logmessage,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="carid != null" >
        #{carid,jdbcType=INTEGER},
      </if>
      <if test="timestamp != null" >
        #{timestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="authkey != null" >
        #{authkey,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="mac != null" >
        #{mac,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="logmessage != null" >
        #{logmessage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cmcc.v2x.dso.authcs.model.Auth_keylog" >
    update auth_keylog
    <set >
      <if test="carid != null" >
        carid = #{carid,jdbcType=INTEGER},
      </if>
      <if test="timestamp != null" >
        timestamp = #{timestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="authkey != null" >
        authkey = #{authkey,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="mac != null" >
        mac = #{mac,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="logmessage != null" >
        logmessage = #{logmessage,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cmcc.v2x.dso.authcs.model.Auth_keylog" >
    update auth_keylog
    set carid = #{carid,jdbcType=INTEGER},
      timestamp = #{timestamp,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      authkey = #{authkey,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      mac = #{mac,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      logmessage = #{logmessage,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>